@model GestionalePizzeria.Models.Order

@{
    ViewBag.Title = "Create";
    var carrello = ViewBag.Carrello;

    if (carrello != null)
    {
        ViewBag.Intestazione = "Conferma ordine";
    }
    else
    {
        ViewBag.Intestazione = "Il carrello è vuoto";
    }

}

<h2>@ViewBag.Intestazione</h2>

@if (carrello != null)
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Conferma ordine" class="btn btn-success" />
                </div>
            </div>

        </div>
    }}

@if (carrello != null)
{
    <h2>Carrello</h2>
    <table class="table">
        @foreach (var item in carrello)
        {

            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    <img src="@item.Immagine" alt="Immagine pizza" />
                </td>
                <td>
                    @(item.Quantita > 0 ? item.Prezzo +
                "€ * " + item.Quantita + " = " + (item.Prezzo * item.Quantita) : item.Prezzo) €
                </td>
                <td>
                    Quantità:  @item.Quantita
                </td>

            </tr>
        }
    </table>
}


