@model IEnumerable<GestionalePizzeria.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrarioOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDelivered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrarioOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDelivered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdOrder }, new { @class = "btn btn-warning m-0" })
            @Html.ActionLink("Dettagli Ordine", "Details", new { id = item.IdOrder }, new { @class = "btn btn-info m-0" })
            @Html.ActionLink("Delete", "Delete", new { id = item.IdOrder }, new { @class = "btn btn-danger m-0" })
        </td>
    </tr>
}

</table>
